engine-strict=true
auto-install-peers=false
strict-peer-dependencies=true
node-linker=isolated
shared-workspace-lockfile=true
link-workspace-packages=false
save-workspace-protocol=rolling
disallow-workspace-cycles=true
shamefully-hoist=false
